{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='css/upload.css')}}">

<body style="background-image: url(/static/img/About.gif);">
    <div class="holder" style="margin-top: 10%;">
        <h1>Forest Fires</h1>
        <p>forest fire, uncontrolled fire occurring in vegetation more than 1.8 metres (6 feet) in height. These fires
            often reach the proportions of a major conflagration and are sometimes begun by combustion and heat from
            surface and ground fires. A big forest fire may crown—that is, spread rapidly through the topmost branches
            of the trees before involving undergrowth or the forest floor. As a result, violent blowups are common in
            forest fires, and they may assume the characteristics of a firestorm</p>
    </div>
</body>
{% endblock %}